$primary: #09357b;
$primary-option: #2153a3;
$white: #fff;
header {
  background-color: #09357b;
  * {
    transition: all 0.5s ease;
  }
  .container {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  img {
    width: 142px;
    padding: 30px 0;
  }

  .search-section {
    position: absolute;
    right: 0;
    bottom: 0;
    input {
      width: 0;
      height: 44px;
      padding: 0 30px;
      background: $primary-option;
      border: 1px solid $primary-option;
      border-bottom: 3px solid $white;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $white;

      &:focus {
        border: 1px solid #2153a3;
        outline-width: 0;
      }
      outline {
        border: 1px solid #2153a3;
      }
    }

    span {
      width: 67px;
      height: 48px;
      position: absolute;
      bottom: 0;
      right: 0;
      background: url(./../../images/search-icon.svg) center no-repeat $primary;
      cursor: pointer;
      border-bottom: 3px solid $white;
    }

    &.active {
      input {
        width: 300px;
      }
      span {
        width: 24px;
        height: 24px;
        bottom: 10px;
        right: 10px;
        background-color: $primary-option;
        border-bottom: 0;
      }
    }
  }
}
